<section id="section-lista-corridas">
    <h2>Lista de Corridas</h2>
  
    @for (corrida of listaCorridas(); track corrida.id) {
      <div class="corrida-item">
        <span class="span-dados-corridas">
          {{ corrida.id }} - {{ corrida.descricaoCorrida }} | Data: {{ corrida.dataCorrida }} | Distância: {{ corrida.distanciaDisponiveis }}
        </span>
        <span class="span-lnk-corridas">
          <a class="lnk-corrida lnk-alterar" style="cursor: pointer;" (click)="carregaDadosCorridaForm(corrida)">A</a>
          <a class="lnk-corrida lnk-excluir" style="cursor: pointer;" (click)="excluir(corrida.id)">E</a>
        </span>
      </div>
    } @empty {
      <div class="div-item-pessoa">
        NENHUMA CORRIDA CADASTRADA
      </div>
    }
  </section>